{% extends "base.html" %}
{% block bodyContent %}


  <div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content text-white">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">Welcome to HackNest, your premier platform for seamlessly hosting hackathons. Empower innovation, collaboration, and breakthroughs with our intuitive application tailored for an unparalleled hackathon experience.</p>
        <a href={% url "hackathons" %}><button class="btn btn-primary">Get Started</button></a>
      </div>
    </div>
  </div>
{% endblock bodyContent %}