{% extends "base.html" %}
{% block bodyContent %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://images.unsplash.com/photo-1586907835000-f692bbd4c9e0?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="max-w-sm  w-64 rounded-lg shadow-2xl mask mask-circle" />
      <div>
        <h1 class="text-5xl font-bold">Austin Martin</h1>
        <p class="py-6">CSE Graduate | SWE @ Akamai Technology</p>
        <button class="btn btn-primary">Edit Profile</button>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full"> <div class="divider divider-success">Stats</div></div>
<h1 style="text-align: center;">
  <div class="stats shadow">
  
    <div class="stat place-items-center">
      <div class="stat-title">Downloads</div>
      <div class="stat-value">31K</div>
      <div class="stat-desc">From January 1st to February 1st</div>
    </div>
    
    <div class="stat place-items-center">
      <div class="stat-title">Users</div>
      <div class="stat-value text-secondary">4,200</div>
      <div class="stat-desc text-secondary">↗︎ 40 (2%)</div>
    </div>
    
    <div class="stat place-items-center">
      <div class="stat-title">New Registers</div>
      <div class="stat-value">1,200</div>
      <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>
    
  </div>
</h1>
{% endblock bodyContent %}